//项目主打色
$main-color = #3D6FFF
$hover-color = #648cff
$bold-color = #303133
$border-color = #ECECEC
$title-color = #333333
$theme-color = #3D6FFF
$bg-color = #fff
//按钮颜色
$success = #f56c6c
$danger = #67c23a
$primary = #409eff
$info = #909399
$warning = #e6a23c
//字体颜色
$color-desc = #909399
$color-title = #072255   //标题颜色
$color-secondary = #021E59  //banner用的字体颜色
// $color-primary = #303133 //通用字体颜色
$color-primary = red
// $color-desc = #052247    //描述性文字颜色
$color-span = #333
//字体大小
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
$font-size-large-xx = 24px
// 字体类型
$font-family1 = 'font-family: SourceHanSansCN-Medium, SourceHanSansCN'
$font-family2 = 'font-family: SourceHanSansCN-Regular, SourceHanSansCN'

//管理端界面
//项目主打色
// $admin-header-bg = #fff
// $admin-header-color = #072255
// $admin-nav-bg = #fff
// $admin-nav-color = #303133
// $admin-nav-hover-bg = #eaf0ff
// $admin-nav-hover-color = #3D6FFF

$admin-header-bg = #1C2E66
$admin-header-color = #fff
$admin-nav-bg = rgb(22, 28, 56)
$admin-nav-color = rgb(125, 129, 144)
$admin-nav-hover-bg = #29334d
$admin-nav-hover-color = rgb(201, 204, 210)

